{% load static %}

<!-- <nav> → tag semântica para navegação -->
<!-- navbar, bg-base-100, shadow-sm → classes DaisyUI/Tailwind para estilo da barra -->
<nav class="navbar bg-base-100 shadow-sm px-6 min-h-20 h-20">

  <!-- flex-1 → ocupa todo o espaço da esquerda (empurra o menu para a direita) -->
  <div class="flex-1">
    <!-- Link da logo que volta para Home -->
    <a href="{% url 'index' %}" class="inline-flex items-center h-full">
      <img src="{% static 'images/logo-medlink.png' %}" alt="MedLink" class="h-[72px] w-auto block">
    </a>
  </div>

  <!-- flex-none → não cresce, fica fixo à direita -->
  <div class="flex-none">
    <!-- menu menu-horizontal → lista de links na horizontal (DaisyUI) -->
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'sobre' %}">Sobre</a></li>
      <li><a href="{% url 'especialidades' %}">Especialidades</a></li>
    </ul>
  </div>
</nav>